#header{
    width:100%;
    margin-top: -200px;
    height:100px;
    display: flex;
    background-color: rgba(243, 2, 243, 0.89);
    position:fixed; 
}
#home,#projects,#pricing,#team,#blog,#contact{
    text-align: center;
    color: white;
}
#logo{
    width:20%;
    height:80px;
    margin-left: 10%;
    margin-bottom: 2%;
    text-align: center;
    color: white;
    font-size:x-large;
    vertical-align: middle;
}
#navOptions{
    width:60%;
    height:100px;
    margin-left: 10%;
}
ul{
    display:flex;
    list-style-type: none;
}
li{
    margin:2% 4% 0 4% ;
    font-size: x-large;
}
a{text-decoration: none;
}

#banner{
    width:43%;
    height:400px;
    margin:1% 20% 0 20%;
    color: white;
}
#h{
    font-size: 60px;
}
#h2{
    font-size: 20px;
    margin-top: -10px;
}
#slide{
    width:100%;
    height:590px;
    margin-top: 200px;
}
#learnMore1{
    width: 150px;
    height: 40px;
    background-color: rgb(223, 223, 23);
    cursor: pointer;
    outline: none;
}
#learnMore2{
    width: 150px;
    height: 40px;
    background-color: rgb(126, 23, 223);
    outline: none;
    cursor: pointer;
}
#welcomeToZippy{
    width: 100%;
    height: 700px;
    border: 1px solid white;
   
}
#cont1{
    width: 40%;
    height: 85%;
    text-align: center;
    margin: 2% 0% 0% 30% ;
    margin-top: 105px;
}
#boxWelcome1{
    width:100%;
    display: flex;
    height:30%;
}
#paraLeft{
    width:70%;
    height: 100%;
    font-size: x-large;
    color: rgb(195, 0, 255);

}
#umbrellaImgRight{
    width: 30%;
    height: 100%;
}
#boxWelcome2{
    display: flex;
    height:55%;
}
#bell{
    width:33%;
    height: 100%;
    text-align: center;
    font-size: large;
    color: rgb(195, 0, 255);
}

#letter{
    width:34%;
    height: 100%;
    text-align: center;
    font-size: large;
    color: rgb(195, 0, 255);
}

#file{
    width:33%;
    height: 100%;
    text-align: center;
    font-size: large;
    color: rgb(195, 0, 255);
}
#projects1{
    width: 100%;
    height: 710px;
    text-align: center;
    border: 1px solid white;
}
#pro2{
    width: 100%;
    height: 600px;
    /*border: 1px double rgb(0, 0, 0);*/
    margin-top: 105px;
}
#cards{
    width: 100%;
    height:65%;
    display: flex;
    margin-top: 2%;
    /*border: 1px solid rgb(39, 226, 70);*/
}
#cardsQ{
    width: 85%;
    margin-left: 7%;
    display: flex;
    /*border: 1px solid rgb(226, 39, 142);*/
}
#cards1,#cards2,#cards3,#cards4{
    width:25%;
    height:100%;
    text-align: center;
    margin-left:1% ;
    margin-right: 1%;
    border-radius: 10%;
    background-color: rgb(224, 216, 216);
    border:1px solid rgb(197, 197, 197);
}
#learnmore3,#learnmore4{
    width: 150px;
    height: 40px;
    background-color: rgb(243, 9, 212);
    border-color: white;
    outline: none;   
    cursor: pointer; 
    border-radius: 25%;
}
#pricingTable{
    width: 100%;
    height: 505px;
    border: 1px solid white;
}
#T1{
    width: 40%;
    height:80%;
    margin-left: 30%;
    text-align: center;
    margin-top: 105px;
    
}
#T2{
    width: 100%;
    height: 70%;
    display: flex;
    /*border: 1px solid blue;*/
}
#T3,#T4{
    width:33%;
    height: 100%;
    padding-left:2% ;
    padding-right: 2%;
    border-right: 3px double rgb(155, 155, 160);
}
#T5{
    width:33%;
    height: 100%;
    padding-left:2% ;
    padding-right: 2%;
}
#videoProjects{
    width:100%;
    height:705px;
    background-color: blueviolet;
    text-align: center;
}
#Vp2{
    width:100%;
    height:600px;
    margin-top: 100px;
    
}
#Vp3{
    width:100%;
    height:400px;
    margin-top: 100px;
    display: flex;
}
#team1{
    width:100%;
    height:705px;
    border: 1px solid white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#team2{
    width:80%;
    height:600px;
    margin-top: 80px;
    margin-left:10% ;
}
#member1,#member2,#member3,#member4,#member5,#member6,#member7,#member8{
    width:25%;
    height:295px;
    text-align: center;
}
#team3,#team4{
    width:100%;
    height:298px;
    display: flex;
}
#imgpro1,#imgpro2,#imgpro3,#imgpro4,#imgpro5,#imgpro6,#imgpro7,#imgpro8{
    width:80%;
    height:70%;
    margin-left: 10%;
    border-radius: 50%;
    background-size:100%;
}

#v1,#v2,#v3{
    margin-right: 3%;
    margin-left: 3%;
}
#lifeInZippy{
    width: 100%;
   
    height: 600px;
    text-align: center;
}
#life2{
    width: 60%;
    
    height: 80%;
    margin-left: 20%;
}
#lifetop{
    width: 100%;
    
    height: 79%;
}

#newsletter{
    width: 100%;
    height: 50%;
    background-image: url('newsletterback.jpg');
    background:cover;
    background-size: 100%;
    background-repeat: no-repeat;
    border: 1px solid white;
}
#signup{
    width: 50%;
    height: 60%;
    text-align: center;
    margin:5% 0% 0% 25%;
}
#enter_email{
    width: 70%;
    height: 20%;
    margin:0 0 0 15% ;
    background-color: rgb(255, 255, 255);
}
#signupbutton{
    width: 20%;
    height: 101%;

    background-color: rgb(223, 223, 23);
}
#inputemail{
    width: 80%;
    border: 1px solid white;
    font-size:x-large;
    outline: none;
}
#blog1{
    width: 100%;
    height: 600px;
    text-align: center;
}
#blogcont1{
    width: 40%;
    height: 85%;
    text-align: center;
    margin: 2% 0% 0% 30% ;
    margin-top: 105px;
    display:block;
}
#bloginner{
    width:100%;
    display: flex;
    height:30%;
}
#contact1{
    width: 100%;
    height: 600px;
    text-align: left;
    display: flex;
   
}
#map{
    width: 50%;
    height: 100%;
    
}
#contactform1{
    width: 50%;
    height: 90%;
    margin-left: 10%;
    
    background-color: rgb(255, 166, 0);
}
#contactform{
    width: 50%;
    height: 100%;
    background-color: rgb(255, 166, 0);
}
#name{
    width: 80%;
    border: 1px solid white;
    font-size:x-large;
    outline: none;
}
#email{
    width: 80%;
    border: 1px solid white;
    font-size:x-large;
    outline: none;
}
#Subject{
    width: 80%;
    border: 1px solid white;
    font-size:x-large;
    outline: none;
}
#message{
    width: 80%;
    border: 1px solid white;
    font-size:x-large;
    height: 100px;
    outline: none;
}
#contactbutton{
    margin-top: 10%;
    width: 80%;
    height:40px;
    background-color: rgb(255, 0, 179);
}
footer{
    width: 100%;
   
    display: flex;
    text-align: center;
}
#officeaddress{
    width: 33%;
    
}
#followus{
    width: 33%;
    }
#contactus{
    width: 33%;
   }

